@model projectDev.Models.CourseMarks

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CourseMarks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yeartaken" class="control-label"></label>
                <input asp-for="Yeartaken" class="form-control" />
                <span asp-validation-for="Yeartaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseMark" class="control-label"></label>
                <input asp-for="CourseMark" class="form-control" />
                <span asp-validation-for="CourseMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseGrade" class="control-label"></label>
                <input asp-for="CourseGrade" class="form-control" />
                <span asp-validation-for="CourseGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CoursePass" /> @Html.DisplayNameFor(model => model.CoursePass)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
